*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1.5;
  word-break: break-word;
}

img {
  max-width: 100%;
  height: auto;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a, button {
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

input, textarea{
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

textarea {
  resize: none;
}


/* Utilities */

.hidden {
  display: none !important;
}

.block {
  display: block !important;
}

.flex {
  display: flex !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.align-start {
  align-items: flex-start !important;
}

.align-center {
  align-items: center !important;
}

.align-end {
  align-items: flex-end !important;
}

.op0 {
  opacity: 0 !important;
  visibility: hidden !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.flex-col {
  flex-direction: column !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-auto {
  overflow: auto !important;
}

.overflow-y-auto {
  overflow-y: auto !important;
}

.overflow-y-hidden {
  overflow-y: hidden !important;
}

.overflow-x-auto {
  overflow-y: auto !important;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.w-100 {
  width: 100% !important;
}

.w-fullscreen {
  width: 100vw !important;
}

.h-fullscreen {
  height: 100vh !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.primary {
  margin-right: auto !important;
}

.unlogin-show {
  display: block !important;
}

.unlogin-show-flex {
  display: flex !important;
}

.unlogin-hide {
  display: none !important;
}

.logined .login-show {
  display: block !important;
}

.logined .login-show-flex {
  display: flex !important;
}

.logined .login-hide {
  display: none !important;
}

.bg-gray {
  background-color: #ececec !important;
}

.bg-black {
  background-color: #000000 !important;
}

.bg-null {
  background-color: transparent !important;
}

.max-w-1200 {
  max-width: 1200px;
}

.p-0 {
  padding: 0 !important;
}

.px-30 {
  padding: 0 30px !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.no-shadow {
  box-shadow: none !important;
}

.show-list-style ol li {
  list-style-type: decimal !important;
}
.show-list-style ul li {
  list-style-type: disc !important;
}

.select-none-appearance {
  /*移除箭頭樣式*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  outline: none;
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute  !important;
}

.fixed {
  position: fixed  !important;
}

.inset-0 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Colors */

.text-main {
  color: #b8813b !important;
}

.bg-main {
  background-color:#b8813b !important;
}

.text-white {
  color: #ffffff !important;
}

.bg-white {
  background-color:#ffffff !important;
}

/* Font Size */
.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-base {
  font-size: 1rem;
}

.text-md {
  font-size: 1.125rem;
}

.text-lg {
  font-size: 1.25rem;
}

.text-xl {
  font-size: 1.5rem;
}

/* Component */
.flex-ac-cont {
  display: flex;
  align-items: center;
}

.flex-jc-cont {
  display: flex;
  justify-content: center;
}

.flex-ajc-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-mask {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000000;
  opacity: 0.6;
}

/* Button */

.btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  box-shadow: none;
  background: none;
  text-align: center;
  line-height: 1.5;
  font-size: 14px;
  width: auto;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.btn-type-img {
  display: block;
  text-align: center;
}

.btn-type-link {
  font-family: inherit;
}

/* Button Styles */
.btn-style-white {
  color: #ffffff;
}

.btn-style-white:hover,
.btn-style-white:focus {
  color: #ffffff;
}

/* 共用 class 設定 */
.main-root {
  position: relative;
  width: 100%;
}

.main-section {
  width: 100%;
}

@media (min-width: 640px) {
  .sm\:hidden {
    display: none !important;
  }

  .sm\:block {
    display: block !important;
  }
  
  .sm\:flex {
    display: flex !important;
  }
}
@media (min-width: 768px) {
  .md\:hidden {
    display: none !important;
  }

  .md\:block {
    display: block !important;
  }
  
  .md\:flex {
    display: flex !important;
  }
}
@media (min-width: 991px) {
  .lg\:hidden {
    display: none !important;
  }

  .lg\:block {
    display: block !important;
  }
  
  .lg\:flex {
    display: flex !important;
  }
}
@media (min-width: 1024px) {
  .xl\:hidden {
    display: none !important;
  }

  .xl\:block {
    display: block !important;
  }
  
  .xl\:flex {
    display: flex !important;
  }
}
@media (min-width: 1200px) {
  .\2xl\:hidden {
    display: none !important;
  }

  .\2xl\:block {
    display: block !important;
  }
  
  .\2xl\:flex {
    display: flex !important;
  }
}
@media (min-width: 1400px) {
  .\3xl\:hidden {
    display: none !important;
  }

  .\3xl\:block {
    display: block !important;
  }
  
  .\3xl\:flex {
    display: flex !important;
  }
}
@media (min-width: 1920px) {
  .\4xl\:hidden {
    display: none !important;
  }

  .\4xl\:block {
    display: block !important;
  }
  
  .\4xl\:flex {
    display: flex !important;
  }
}
