.footer {
  display: block;
  width: 100%;
  padding: 3rem 3rem;
}

.footer_main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_logo_link {
  max-width: 137px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.footer_links {
  display: block;
  margin-bottom: 30px;
}

.footer_link {
  display: block;
  font-size: 0.75rem;
}

.business_corporation_btn {
  margin-bottom: 0.75rem;
}

.social_container {
  margin-bottom: 6rem;
}

.footer_social_link {
  width: 30px;
  height: 30px;
  transition: transform linear 0.2s;
}

.footer_social_link:hover {
  transform: scale(1.2);
}

.fb_link {
  margin-right: 1.75rem;
}

.copyright {
  font-size: 0.75rem;
  text-align: center;
}

/* RWD ======================================================= */

@media (min-width: 768px) {
  .footer {
    padding: 5rem 0 3.5rem 0;
  }

  .footer_main_content {
    max-width: 620px;
    margin: 0 auto;
    flex-direction: row;
    margin-bottom: 3rem;
  }

  .footer_logo_link {
    max-width: 188px;
    margin: 0;
    margin-right: auto;
  }

  .social_container {
    margin: 0;
    margin-right: auto;
  }

  .footer_social_link {
    width: 42px;
    height: 42px;
  }

  .fb_link {
    margin-right: 2.625rem;
  }


  .footer_links {
    margin: 0;
  }

  .footer_link {
    margin-bottom: 0;
    font-size: 1rem;
  }

  .business_corporation_btn {
    margin-right: 1.5rem;
  }

  .copyright{
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .footer_main_content {
    max-width: 620px;
    margin: 0 auto;
    flex-direction: row;
    margin-bottom: 6rem;
    font-size: 1rem;
  }
}