.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 1.5rem 2rem;
  transition: background-color 0.4s linear;
}

.nav {
  width: 100%;
  position: relative;
}

.m-nav {
  width: 100%;
}

.m-nav .header_logo{
  margin-right: auto;
  max-width: 90px;
}

.nav-fixed {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #ffffff;
  padding: 1.5rem 2rem;
}

.menu_btn {
  max-width: 28px;
}

.menu_contaienr {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 102;
  background-color: #ffffff;
}

.m_menu_bg_img {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menu_content {
  width: 100%;
  height: 100%;
  background-color: #b8813b;
  opacity: 0.9;
  position: relative;
  padding: 5rem;
  overflow-y: auto
}

.close_m_nav_btn {
  width: 28px;
  position: absolute;
  top: 1.875rem;
  right: 1.875rem;
  z-index: 2;
}

.ul_main {
  margin: 0 auto;
  max-width: 80%;
  padding-left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.m_main_link {
  color: #ffffff;
  line-height: 4;
  font-size: 1.25rem;
}

.ul_sub {
  margin: 0.5rem auto;
  padding-left: 0;
  display: none;
}

.m_sub_link {
  color: #ffffff;
  opacity: 0.7;
  font-size: 0.875rem;
  line-height: 2.5;
}

/* RWD ========================================================= */

@media (min-width: 640px) {
  .header {
    padding: 2rem 3rem;
  }

  .m-nav .header_logo{
    max-width: 120px;
  }

  .menu_btn {
    max-width: 36px;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 0;
  }

  .nav-fixed {
    padding: 0;
  }

  .w-nav {
    width: 100%;
  }

  .w-nav .header_logo {
    display: block;
    max-width: 124px;
    margin-right: auto;
  }

  .nav-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.25rem 3rem;
  }

  .web_ul {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
  }

  .web_li {
    display: block;
    margin-right: auto;
  }

  .w_main_link {
    color: #b8813b;
    font-size: 1.125rem;
    font-family: NotoSans;
  }

  .sub-nav-content {
    width: 100%;
    padding: 1rem;
    display: none;
    border-top: 1px solid #b8813b;
  }

  .w-nav-list {
    padding-left: 0;
    margin: 0;
  }

  .w-nav-item {
    margin-right: 3rem;
    position: relative;
  }

  .w-nav-item:last-child {
    margin-right: 0;
  }

  .w-nav-item::before {
    content: '';
    display: block;
    height: 11px;
    width: 1px;
    background-color: #796a56;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -1.5rem;
  }

  .w-nav-item:last-child::before {
    display: none;
  }

  .w-nav-link {
    color: #796a56;
    font-size: 0.875rem;
  }

  .fixed_sub_nav_content {
    background-color:#ffffff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
  }
}

@media (min-width: 991px) {
  .web_ul {
    width: calc(100% - 150px - 124px);
    margin-left: auto;
  }

  .web_li {
    display: block;
    margin-right: initial;
  }

  .w-nav-item {
    margin-right: 5rem;
    position: relative;
  }

  .w-nav-item::before {
    content: '';
    display: block;
    height: 11px;
    width: 1px;
    background-color: #796a56;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -2.5rem;
  }
}

@media (min-width: 1200px) {
  .web_ul {
    width: calc(100% - 300px - 124px);
    margin-left: auto;
  }
}