/* Animation */
@-webkit-keyframes baloon_1{
  0% { transform:translateY(20px);}
  50% {transform:translateY(50px);}
  100% {transform:translateY(20px);}
}
  
@-moz-keyframes baloon_1{
  0% { transform:translateY(20px);}
  50% {transform:translateY(50px);}
  100% {transform:translateY(20px);}
}
  
@-ms-keyframes baloon_1{
  0% { transform:translateY(20px);}
  50% {transform:translateY(50px);}
  100% {transform:translateY(20px);}
}
  
@-o-keyframes baloon_1{
  0% { transform:translateY(20px);}
  50% {transform:translateY(50px);}
  100% {transform:translateY(20px);}
}
  
@keyframes baloon_2{
  0% { transform:translateY(60px);}
  50% {transform:translateY(10px);}
  100% {transform:translateY(60px);}
}

@-webkit-keyframes baloon_2{
   0% { transform:translateY(60px);}
  50% {transform:translateY(10px);}
  100% {transform:translateY(60px);}
}
  
@-moz-keyframes baloon_2{
   0% { transform:translateY(60px);}
  50% {transform:translateY(10px);}
  100% {transform:translateY(60px);}
}
  
@-ms-keyframes baloon_2{
   0% { transform:translateY(60px);}
  50% {transform:translateY(10px);}
  100% {transform:translateY(60px);}
}
  
@-o-keyframes baloon_2{
   0% { transform:translateY(60px);}
  50% {transform:translateY(10px);}
  100% {transform:translateY(60px);}
}

@keyframes an{
  from{
      opacity: 0;
      transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
  }
  to{
      opacity: 1;
      transform: perspective(500px) translate3d(0, 0, 0);
  }
}

/* Carousel Section: Slick Adjustment */
.slick-dots {
  bottom: 1rem;
  width: auto;
  right: 1rem;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots li button:before {
  color: white;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #b8813b;
}

/* Ingredient Section */
.ingredient_sec {
  width: 100%;
  position: relative;
  padding-top: 5rem;

  background-image: url(../img/index/mobbackground.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;

}

.ingredient_title {
  width: 170px;
  font-size: 24px;
  color: #b8813b;

  padding: 7px 0;
  margin: 0 auto;
  border-top: 1px solid #b8813b;
  border-bottom: 1px solid #b8813b;
  letter-spacing: 3.62px;
}

.char{
  animation: an 1s ease-out 1 both;
  display: inline-block;
  color: #b8813b;
}

.ingredient_unit {
  width: 100%;
  padding: 0 2rem;
  margin-top: 6.5rem;

  position: relative;
}

.ingre_title_block {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.ingre_img {
  width: 100px;
  margin-right: 1.75rem;
}

.ingre_titles {
  width: calc(100% - 100px - 1.75rem);
}

.ingre_title_cn,
.ingre_title_en {
  width: 100%;
  font-size: 1.375rem;
}

.ingre_title_en {
  font-weight: normal;
}

.ingre_underline {
  position: absolute;
  right: -2rem;
  bottom: 9px;
  z-index: 2;
  width: calc(100% - 100px);
  height: 1px;
}

.ingre_description {
  width: 100%;
  margin-top: 1rem;
  font-size: 0.75rem;
  columns: #333333;
  letter-spacing: 1.72px;
}

/* 水 */
.ingre_water .ingre_title_cn,
.ingre_water .ingre_title_en {
  color: #ecc238;
}

.ingre_water .ingre_underline {
  background-color: #ecc238;
}

.decoration_bigger_water_img {
  width: 94px;

  position: absolute;
  right: -1rem;
  top: -2rem;
  z-index: 2;
}

.decoration_smaller_water_img {
  width: 75px;

  position: absolute;
  left: -1rem;
  bottom: -5rem;
  z-index: 2;
}

/* 糖 */
.ingre_sugar .ingre_title_cn,
.ingre_sugar .ingre_title_en {
  color: #f4a82a;
}

.ingre_sugar .ingre_underline {
  background-color: #f4a82a;
}

.decoration_sugar_img {
  width: 197px;

  position: absolute;
  right: -1rem;
  top: -5rem;
  z-index: 2;
}

/* 茶 */
.ingre_tea .ingre_title_cn,
.ingre_tea .ingre_title_en {
  color: #6fb554;
}

.ingre_tea .ingre_underline {
  background-color: #6fb554;
}

.decoration_tea_img {
  width: 160px;

  position: absolute;
  right: -0.5rem;
  top: -5rem;
  z-index: 2;
}

/* 益生菌 */
.ingre_probiotics .ingre_title_cn,
.ingre_probiotics .ingre_title_en {
  color: #0080b7;
}

.ingre_probiotics .ingre_underline {
  background-color: #0080b7;
}

.decoration_probiotic_img {
  width: 140px;

  position: absolute;
  right: -1rem;
  top: -5rem;
  z-index: 2;
}

.product_img {
  width: 230px;

  margin: 7rem auto 0 auto;
  position: relative;
  z-index: 3;
}

.decoration_bg_flower_left {
  width: 30vw;
  max-width: 380px;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.decoration_bg_flower_right {
  width: 30vw;
  max-width: 380px;
  
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

@media (min-width: 768px) {

  .ingredient_sec {
    padding-top: 8rem;

    background-image: url(../img/index/webbackground.png);
  }

  .ingredient_w_title {
    width: 485px;
    font-size: 34px;
    color: transparent;
  }

  .ingredient_bone {
    width: 1px;
    height: 0;
    background-color: #b8813b;
    margin: 0 auto;
    margin-top: 5rem;
    /* transition: height 0.5s linear; */
    height: 650px;
  }

  .bone_hieght {
    height: 650px;
  }

  .ingredient_unit {
    width: 330px;

    position: absolute;
    z-index: 2;
    margin-top: 0;
  }

  .ingre_img {
    width: 120px;
  }

  .ingre_title_cn, .ingre_title_en {
    font-size: 1.5rem;
  }

  .ingre_underline {
    width: 100%;
    right: 0;
  }

  .ingre_water {
    left: 50%;
    top: 18%;
    transform: translateX(-330px);
  }

  .decoration_bigger_water_img {
    width: 130px;
    left: -120px;
    top: 20px;
  }

  .decoration_smaller_water_img {
    left: initial;
    right: 30px;
    top: 100%;
  }

  .ingre_sugar {
    right: 50%;
    top: 29%;
    transform: translateX(330px);
  }

  .decoration_sugar_img {
    width: 240px;
    right: -4rem;
    top: -8rem;
  }

  .ingre_tea {
    left: 50%;
    top: 37%;
    transform: translateX(-330px);
  }

  .decoration_tea_img_float1 {
    width: 150px;

    position: absolute;
    left: -6rem;
    top: 11rem;
    z-index: 2;

    -webkit-animation: baloon_2 3s infinite;
    -moz-animation: baloon_2 3s infinite;
    -ms-animation: baloon_2 3s infinite;
    -o-animation: baloon_2 3s infinite;
    animation: baloon_2 3s infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
  }

  .decoration_tea_img_float2 {
    width: 100px;

    position: absolute;
    left: -4rem;
    top: 17rem;
    z-index: 2;

    -webkit-animation: baloon_1 3s infinite;
    -moz-animation: baloon_1 3s infinite;
    -ms-animation: baloon_1 3s infinite;
    -o-animation: baloon_1 3s infinite;
    animation: baloon_1 3s infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
  }

  .ingre_probiotics {
    right: 50%;
    top: 46%;
    transform: translateX(330px);
    padding-right: 0;
  }

  .decoration_probiotic_img {
    width: 180px;
    right: -6rem;
    top: 10rem;
  }

  .product_img {
    max-width: 417px;
    width: 42vw;
    margin: 2rem auto 0 auto;
  }

  .decoration_probiotic_img_float1 {
    width: 120px;

    position: absolute;
    right: -3.5rem;
    top: 13rem;
    z-index: 2;

    -webkit-animation: baloon_2 3s infinite;
    -moz-animation: baloon_2 3s infinite;
    -ms-animation: baloon_2 3s infinite;
    -o-animation: baloon_2 3s infinite;
    animation: baloon_2 3s infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
  }

  .decoration_probiotic_img_float2 {
    width: 90px;

    position: absolute;
    right: -6rem;
    top: 10rem;
    z-index: 2;

    -webkit-animation: baloon_1 3s infinite;
    -moz-animation: baloon_1 3s infinite;
    -ms-animation: baloon_1 3s infinite;
    -o-animation: baloon_1 3s infinite;
    animation: baloon_1 3s infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
  }

  .decoration_probiotic_img_fixed1 {
    width: 100px;
    
    position: absolute;
    right: -2.5rem;
    top: -2.5rem;
    z-index: 2;
  }

}

@media (min-width: 1200px) {
  .ingredient_sec {
    padding-top: 10rem;
  }
}